#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .profile_text{
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        
        h3{
            font-size: 4rem;
            @media screen and (max-width:600px) {
                font-size: 3rem;
            }
            span{
                color: #F1D3B3;
            }
        }
        .job{
            font-size: 2rem;
            font-weight: 600;
        }
    }
    .view_btn{
        position: absolute;
        animation: motion .8s linear 0s infinite alternate; 
        position: absolute;
        top: 800px;
        
        
        
        p{
           font-size: 1.3rem;
        }
        svg{
            text-align: center;
            margin-top: 1rem;
            width: 100%;
            
        }
        @keyframes motion {
        0% {margin-top: 0px;}
	    100% {margin-top: 10px;}
        }
    }
}