.about_container{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:800px) {
        flex-direction: column;
    }
    .about_left{
        margin-right: 8rem;
        background: #C7BCA1;
        box-shadow: 0 0 20px #C7BCA1;
        
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:800px) {
            margin-right: 0rem;
        }
        img{
            width: 400px;
            height: 400px;
            object-fit: cover;
            
        }
    }
    .about_right{
        color: #fff;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        
        p{
            
            font-size: 1.6rem;
            
        }
        .introduction{
            font-size: 1.3rem;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            
            .introduction_info{
                flex-basis: 50%;
                padding-bottom: 3rem;
                display: flex;
                
                align-items: center;
                
                
                .introduction_key{
                    flex-basis: 20%;
                    
                }
                .introduction_text{
                    
                }
            }
            
        }
    }
}