
.about_container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 7rem;
    @media screen and (max-width:800px) {
        flex-direction: column;
    }
    
    .about_left{
        margin-right: 8rem;
        /* background: #46C2CB;
        box-shadow: 0 0 20px #46C2CB; */
        
        
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:800px) {
            margin-right: 0rem;
        }
        img{
            width: 400px;
            height: 400px;
            object-fit: cover;
            
        }
    }
    .about_right{
        color: #fff;
        
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        
        p{
            
            font-size: 1.6rem;
            
        }
        .introduction{
            font-size: 1.3rem;
            
            display: flex;
            flex-direction: column;
            
            .introduction_info{
                flex-basis: 50%;
               
                display: flex;
                
                align-items: center;
                
                
                .introduction_key{
                    flex-basis: 20%;
                    
                }
                .introduction_text{
                    
                }
            }
            
        }
    }
}
.square1{
    position: absolute;
    top: -90px;
    left: 0;
    width: 570px;
    height: 50px;
    background: #e65238;
    z-index: -1;
} 
.square2{
    position: absolute;
    top: -150px;
    right: 650px;
    width: 200px;
    height: 90px;
    background: #13005A;
    z-index: -1;
}